@model PaginatedListIndexSchoolClassVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var date = "";
}

<div class="container">

    <h1>Classes</h1>
    @if (this.User.IsInRole(AdminRole))
    {
        <p>
            <a asp-action="Create">Add new Class</a>
        </p>
    }
    <table class="table">
        <thead>
            <tr class="text-center">
                <th>
                    Subject
                </th>
                <th>
                    Time
                </th>
                <th>
                    Participants
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SchoolClasses)
            {
                if (date != item.Date || date == "")
                {
                    date = item.Date;
                    <tr>
                        <td class="text-center" colspan="4">
                            <div style="font-size:20px"><strong>@date</strong></div>
                        </td>
                    </tr>

                }
                <tr class="text-center" style="background-color: @(item.IsCurrentClass ? "yellow" : "white")">
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject.Name) @item.IsCurrentClass
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Participants)/  @Html.DisplayFor(modelItem => item.UsersInClass)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Open Class</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @*Paging*@
    @{
        var prevDisabled = !Model.SchoolClasses.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.SchoolClasses.HasNextPage ? "disabled" : "";
    }
    <div class="container">
        <div style="padding-bottom:40px; text-align:center">
            <a onclick="paging(@(Model.SchoolClasses.PageIndex - 1))"
               class="btn btn-default @prevDisabled">
                Previous
            </a>
            @if (Model.SchoolClasses.PageIndex > 2)
            {
                <a class="btn btn-default" onclick="paging(1)">
                    1
                </a>
                <span>...</span>
            }
            @if (Model.SchoolClasses.HasPreviousPage)
            {
                <a class="btn btn-default" onclick="paging(@(Model.SchoolClasses.PageIndex - 1))">
                    @(Model.SchoolClasses.PageIndex - 1)
                </a>
            }
            <span>@Model.SchoolClasses.PageIndex</span>
            @if (Model.SchoolClasses.HasNextPage)
            {
                <a class="btn btn-default" onclick="paging(@(Model.SchoolClasses.PageIndex + 1))">
                    @(Model.SchoolClasses.PageIndex + 1)
                </a>
            }
            @if (Model.SchoolClasses.TotalPages > Model.SchoolClasses.PageIndex + 1)
            {
                <span>...</span>
                <a class="btn btn-default" onclick="paging(@(Model.SchoolClasses.TotalPages))">
                    @Model.SchoolClasses.TotalPages
                </a>
            }
            <a onclick="paging(@(Model.SchoolClasses.PageIndex + 1))"
               class="btn btn-default @nextDisabled">
                Next
            </a>
        </div>
    </div>
</div>
<script type="text/javascript">
    //-------------------------Paging----------------------------->
    //Go to specified page
    function paging(pageNumber) {
        //var e = document.getElementById("sortId");
        //var sortId = e.options[e.selectedIndex].text;
        //var productTypeId = $('#productTypeId').attr('data-value');

        $.ajax({
            type: 'GET',
            url: "/schoolclasses/index",
            data: { "pageNumber": pageNumber/*, "productTypeId": productTypeId, "sortBy": sortId */ },
            success: function (result) {
                $("body").html(result);
            }
        });
    }
</script>