@model DetailsSubjectVM

@{
    ViewData["Title"] = Model.Subject.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">

    <h1>@Model.Subject.Name</h1>
    <h5><u>Teachers:</u></h5>
    @foreach (var teacher in Model.Teachers)
    {
        <div><strong>@teacher.FirstName @teacher.LastName</strong></div>
    }

    @if (this.User.IsInRole(AdminRole))
    {
        <hr />
        <div>
            <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.Subject.Id">Add or Remove Users</a> |
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Subject.Id">Delete Subject</a>
        </div>
    }
    <hr />
</div>
<div class="row">
    <div class="col-md-6">
        <p class="text-center"><strong>Classes</strong></p>
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model.SchoolClasses)
                {

                    <tr>
                        <td>@x.ClassStartTime.GetDateTimeFormats('D')[0]</td>
                        <td>@x.ClassStartTime.TimeOfDay - @x.ClassEndTime.TimeOfDay</td>
                        <td><a asp-controller="SchoolClasses" asp-action="Details" asp-route-id="@x.Id">Go to class</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <p class="text-center"><strong>Students</strong></p>
        <table class="table">
            <thead>
                <tr>
                    <th>Student Number</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model.Students)
                {

                    <tr>
                        <td>@x.StudentNumber</td>
                        <td>@x.FirstName @x.LastName</td>
                        <td><a asp-controller="Users" asp-action="Details" asp-route-id="@x.Id">Student Info</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<hr />
