@model UserDetailVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="text-center">
        <h1>@Model.Name</h1>
        <h4>Student number: @Model.StudentNumber</h4>
        <h4>Average Attendance: @Model.AverageAttendance%</h4>

    </div>

    <hr />

    <form asp-action="details">
        <input id="userId" asp-for="Id" type="hidden" />
        <div class="form-group">
            <label asp-for="Subject" class="control-label"> <strong>Select a Subject to see the Student's Attendance</strong></label>
            <select onchange="selectSubject()" id="subjectId"
                    asp-for="Subject" class="form-control"
                    asp-items="Model.Subjects"></select>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Check In 1</th>
                <th>Check In 2</th>
                <th>Check In 3</th>
                <th>Attendance Percentage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var attendance in Model.Attendances)
            {
                <tr>
                    <td>
                        @attendance.Date
                    </td>
                    <td>
                        <partial name="_CheckInPartial" model="@attendance.CheckIn_Start" />
                    </td>
                    <td>
                        <partial name="_CheckInPartial" model="@attendance.CheckIn_Middle" />
                    </td>
                    <td>
                        <partial name="_CheckInPartial" model="@attendance.CheckIn_End" />
                    </td>
                    <td style="font-weight:bold">@attendance.AttendancePersentage%</td>
                </tr>
            }
        </tbody>
    </table>

</div>

@if (this.User.IsInRole(AdminRole))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
}

<script type="text/javascript">
   
       function selectSubject () {
            console.log('hit')
            var subjectId = $('#subjectId').val()
            var userId = $('#userId').val()
            $.ajax({
                type: 'GET',
                url: "/users/details",
                data: { "id": userId, "subjectId": subjectId },
                success: function (result) {
                    $("body").html(result);
                }
            });
        };

</script>
